/************************************************************
*
*
* Contact form styling
*
*
************************************************************/
h1 {
    margin-top: 4rem;
    margin-bottom: 3rem;
}
#contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}

input {
    height: 2rem;
    border-radius: 10px;
}

.messageText {
    height: 6rem;
    border-radius: 10px;
}

label {
    margin-bottom: 1rem;
    align-self: flex-start;
}

button {
    width: 5rem;
    align-self: flex-end;
    height: 2rem;
    border-radius: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
}

@media screen and (min-width: 850px) {
    main {
        width: 40%;
        margin: 6rem auto;
    }
}
