/************************************************************
*
*
* Intro styling
*
*
************************************************************/
.intro {
    margin-top: 2rem;
    filter: brightness(96%);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url('../assets/hero/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75vh;
    width: 100%;
}

@media screen and (min-width: 850px) {
    .intro {
        width: 70%;
        margin: 0rem auto;
        margin-top: 6rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .intro {
        width: 50%;
    }
}
