/************************************************************
*
*
* Intro styling
*
*
************************************************************/
.intro {
    margin-top: 2rem;
    filter: brightness(96%);
}

@media screen and (min-width: 850px) {
    .intro {
        width: 70%;
        margin: 0rem auto;
        margin-top: 10rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .intro {
        width: 50%;
    }
}
