/************************************************************
*
*
* Work styling
*
*
************************************************************/

#fiverr {
    display: none;
}

#personal {
    display: none;
}

#fiverr.visible {
    display: flex;
    flex-direction: column;
}

.fiverrPara {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    align-self: center;
}

#personal.visible {
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.fiverrCard {
    display: flex;
    flex-direction: column;
    position: relative;
}

#ftoggle,
#ptoggle {
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    outline: none;
    border: 3px solid #ffff;
    color: #ffff;
    background-color: #000000;
}

#ftoggle:active {
    color: #000000;
    background-color: #ffff;
}

#ptoggle:active {
    color: #000000;
    background-color: #ffff;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle.wat {
    bottom: 6%;
}

.fiverrCard:hover .image {
    opacity: 0.9;
}

.fiverrCard:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(182, 182, 182);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
}

.textJayal {
    background-color: rgb(182, 182, 182);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
}

/* Panel style */

.a-panel {
    display: flex;
    flex-direction: column;
}

.accordion .a-container .a-panel {
    width: 100%;
    color: #262626;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    height: auto;
    max-height: 0;
    overflow: hidden;
    padding: 0px 10px;
}

/* Panel style when active */
.accordion .a-container.active .a-panel {
    padding: 15px 10px 10px 10px;
    opacity: 1;
    height: auto;
    max-height: 5000px;
}

.a-btn {
    background-color: #ffff;
    color: #000000;
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.2rem;
    padding: 2rem 0rem 0rem 0rem;
}

@media screen and (min-width: 850px) {
    .a-btn {
        width: 60%;
    }

    .a-panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .fiverrCard {
        width: 40%;
        margin: 2rem 2rem;
    }

    #personal.visible {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fiverrPara {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 80%;
        text-align: center;
        line-height: 50px;
    }
}
