/************************************************************
*
*
* Work styling
*
*
************************************************************/

#fiverr {
    display: none;
}

#personal {
    display: none;
}

#fiverr.visible {
    display: flex;
    flex-direction: column;
}

.fiverrPara {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    align-self: center;
}

#personal.visible {
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.fiverrCard {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 30%; */
}

#ftoggle,
#ptoggle {
    width: 8rem;
    height: 4rem;
    font-size: 1rem;
    outline: none;
    border: 3px solid #ffff;
    color: #ffff;
    background-color: #000000;
}

#ftoggle:active {
    color: #000000;
    background-color: #ffff;
}

#ptoggle:active {
    color: #000000;
    background-color: #ffff;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fiverrCard:hover .image {
    opacity: 0.9;
}

.fiverrCard:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(182, 182, 182);
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 16px 32px;
}

@media screen and (min-width: 850px) {
    .fiverrCard {
        width: 40%;
        margin: 2rem 2rem;
    }

    #fiverr.visible {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #personal.visible {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .fiverrPara {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 80%;
        text-align: center;
        line-height: 50px;
    }
}
